.overall-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid gold 5px; */
    background-image: url(earth.png);
    background-color: whitesmoke;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.overall-container h1{
    font-size: 50px;
    color:hsl(133, 100%, 40%);

}

.whole-team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
    /* border: solid gold 5px; */
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid gold 5px; */
    padding: 15px;
    background-color: #fff;
	border-radius: 10px;
    margin-bottom: 50px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

article img{
    width: 350px;
    height: 400px;
    cursor: pointer;
    border-radius: 100px;
}

.overall-member-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 75vh;
    /* border: solid gold 5px; */
    background-image: url(earth.png);
    background-color: whitesmoke;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.member-container{
    display: flex;
    align-self: center;
    height: fit-content;
    /* border: solid gold 5px; */

}
.overall-member-container .full-name{
    font-size: 40px;
}
.member-profile{
    display: flex;
    padding: 10px;
}
.member-info{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
  
 