.overall-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid gold 5px; */
    background-image: url(earth.png);
    background-color: whitesmoke;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 76vh;
}

.overall-container h1{
    font-size: 50px;
    color:hsl(133, 100%, 40%);
    background-color: #fff;
	border-radius: 10px;
    margin-bottom: 50px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    padding: 10px;

}

.whole-team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
    /* border: solid gold 5px; */
}

.whole-team-container article{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid gold 5px; */
    padding: 15px;
    background-color: #fff;
	border-radius: 80px;
    margin-bottom: 50px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    /* width: 230px; */
}

.whole-team-container article img{
    /* width: 20vw; */
    width: 200px;
    cursor: pointer;
    border-radius: 80px;
    height: 30vh;
    background-position: center;
    object-fit: cover;
}

/* Indiviual Member CSS */
.overall-member-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    /* height: 96vh; */
    /* border: solid gold 5px; */
    background-image: url(earth.png);
    background-color: whitesmoke;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.member-container{
    display: flex;
    align-self: center;
    /* height: fit-content; */
    /* border: solid gold 5px; */
    /* margin-top: 40px; */
}
.overall-member-container .full-name{
    font-size: 40px;
    color:hsl(133, 100%, 40%);

}
.member-profile{
    display: flex;
    padding: 10px;
}
.member-info{
    display: flex;
    flex-direction: column;
    padding: 40px;
    word-wrap:break-word;
    width: 40vw;
}
.member-info p{
    line-height: 32px;
}

.overall-member-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    border-radius: 20px;
	border: 1px solid hsl(133, 100%, 40%);
	background-color: hsl(133, 100%, 40%);
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 35px;
	letter-spacing: 1px;
}

.overall-member-container article img{
    /* width: 10vw; */
    width: 250px;
    cursor: pointer;
    border-radius: 100px;
    height: 40vh;
    background-position: center;
    object-fit: cover;
}
.overall-member-container article{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid gold 5px; */
    padding: 15px;
    background-color: #fff;
	border-radius: 10px;
    margin-bottom: 50px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    /* width: 150px; */
}

