.endgame-page{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    border: solid black 5px;
    justify-content: space-between;
    align-items: center;
    height: 480px;
}

.register-or-scoreboard {
    padding: 10px;
    margin-left: 15px;
}

.end-game-register h2 {
    margin: 10px;
}

.end-game-register{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-game-register input{
    display: flex;
    width: 500px;
    height: 30px;
}

.score-and-replay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-and-replay .final-score {
    font-size: 100px;
    border: solid 5px;
    /* padding: 15px 45px; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 15px;
}

.countries-played-and-could-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.countries-played-and-could-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countries-played-and-could-container .country-list {
    height: 140px;
    width: 200px;
    /* border: 1px solid black; */
    list-style-type: none;
    padding: 0;
    overflow: scroll;
}

.countries-played-and-could-container .country-list li {
    line-height: 30px;
    padding-left: 5px;
}

.countries-played-and-could-container .country-list li:nth-child(2n) {
    background-color: rgb(238, 238, 238) ;
}

.final-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.final-input-container h2 {
    margin: 5px;
}

