.home-page {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    height: 480px;
    justify-content: center;
    align-items: center;
}

.home-page .scoreboards{
    display: flex;
    align-content: center;
    justify-content: space-around;
    min-width: 800px;
    height: 400px;
    border: solid black 5px;
    padding: 20px;
    margin: 0px;
}
