@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}

.app-banners{
    margin: 0px;
    padding: 0px;
}

.app-title-banner{
    font-family: 'Handlee', cursive;
    display:flex;
    padding:20px;
    justify-content: center;
    background-color: #00cc2c;
    font-size: 30px;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.app-title-banner * {
    text-decoration: none;
}

.app-title-banner .homepage-title {
    color: 	white;
    font-size: 65px;
}

.app-title-banner .slogan {
    color: 	white;
    font-size: 25px;
    margin-top: -10px;
}

.app-nav-banners {
    display: flex;
    padding: 5px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px #00cc2c;
}

.app-nav-banners li {
    padding: 5px;
    list-style-type: none;
    margin: 0px 50px;
}

.app-nav-banners li * {
    text-decoration: none;
    font-size: 16px;
    color: #00cc2c;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    padding: 10px 20px;
}

.app-nav-banners li *:hover {
    background-color: #019120;
    color: white;
    border-radius: 20px;
}

.app-nav-banners li *:active {
    opacity: 0.5;
}

button{
    cursor: pointer;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.app-nav-banners button {
    background-color: transparent;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.app-nav-banners li .selected-page {
    font-weight: 600;
    background-color: #019120;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}