body {
    margin: 0px;
}

.app-banners{
    margin: 0px;
    padding: 0px;
}

.app-title-banner{
    display:flex;
    padding:20px;
    justify-content: center;
    background-color: lightcyan;
    color:black;
    font-size: 30px;
    align-items: center;
    flex-direction: column;
}

.app-nav-banners {
    display: flex;
    padding: 20px;
    background-color: aquamarine;
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.app-nav-banners li {
    padding: 15px;
    list-style-type: none;
}

button{
    cursor: pointer;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}