.login{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
    /* border: solid black 5px; */
    font-family: 'Montserrat', sans-serif;
}
.login-form{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
    color:hsl(133, 97%, 15%);
}

.title{
    display: flex;
    /* border: solid black 5px; */
    padding: 20px;
    font-weight: bold;
    color:hsl(133, 100%, 40%);
    align-content: center;
    justify-content:center;
}

.login-form input{
    display: flex;
    width: 50vw;
    border: solid black 5px;
}
/* .login-form input{
    display: flex;
    width: 50vw;
    background-color: #eee;
    border: none;
	padding: 12px 15px;
	margin: 8px 0;
} */

/* .login-form button{
    display: flex;
    width: fit-content;
    border-radius: 5px;
    border-color: green;
    color:black;
    background-color: chartreuse;
} */
.login-form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 20px;
	border: 1px solid hsl(133, 97%, 15%);
	background-color: hsl(133, 100%, 40%);
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 35px;
	letter-spacing: 1px;
}
.login-form button:active {
	transform: scale(0.95);
}

.login-form button:focus {
	outline: none;
}
.login-response{
    text-align: center;
    color: red
}
/*  */