.login{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
    border: solid black 5px;

}
.login-form{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
}

.login-form input{
    display: flex;
    width: 500px;
    height: 50px;
    border: solid black 5px;
}

.login-form button{
    display: flex;
    width: fit-content;
    height: 20px;
    border-radius: 5px;
    border-color: green;
    color:black;
    background-color: chartreuse;
}
/* #submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
	border: 1px solid hsl(133, 100%, 40%);
	background-color: hsl(133, 100%, 50%);
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 45px;
	letter-spacing: 1px;
} */
.login-response{
    text-align: center;
    color: red
}
/*  */