CSS for registration form
 */

.registerform{
    display: flex;
    width: 50vw;
    height: 50vh;
    border: solid black 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 25px;
    margin:5px;
} 

.innerform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerationlabel{
    display: flex;
    align-content: center;
    justify-content: center;
    /* padding:20px; */
}

.registerformerrormessage{
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight:bold;
    font-size: small;
    text-shadow: black;
    color: red;
}


.titleform{
    display: flex;
    border: solid blue 5px;
    padding: 20 px;
    size:20 px;
    color: green;
    align-content: center;
    justify-content:center;
    margin: 20px;
}

.pageform{
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    border: solid black 5px;
    justify-content: center;
    align-items: center;
}

.buttonform{
    display: flex;
    width: 200px;
    height: 50px;
    color:black;
    border-color: greenyellow;
    background-color: green;
    align-items: center;
    justify-content: center;
    box-shadow: black;
    border-radius: 10px;
}