
/* new CSS */
/* ___________________________________________________________________________________________________________________________ */

.register-page .register-title{
    display: flex;
    /* border: solid black 5px; */
    /* padding: 20px; */
    font-weight: bold;
    color:hsl(133, 100%, 40%);
    align-content: center;
    justify-content:center;
    font-size: 45px;
    margin-top: 50px;
}

.register-page  {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 75vh;
    background-image: url(earth.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 90%;
    background-color: whitesmoke;
}

.register-page .register{
    display: flex;
    flex-direction: column;
    height: 62vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    /* border: solid black 5px; */
    font-family: 'Montserrat', sans-serif;

    background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
    margin: 4vh 20vw;
    padding: 20px 60px;

}

.register-page .register-form{
    display: flex;
    flex-direction: column;
    height: 55vh;
    justify-content: space-around;
    align-items: center;
    color:hsl(133, 97%, 15%);
    padding: 25px 25px 0px 25px;

}

.register-page .register-inputs{
    overflow-y: scroll;

}

.register-page .register-form input{
    display: flex;
    width: 40vw;
    background-color: #eee;
    border: none;
    /* border: solid black 5px; */
	padding: 15px 15px;
	margin: 8px 25px;
    border-radius: 20px;
}


.register-page .register-form button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    border-radius: 20px;
	border: 1px solid hsl(133, 100%, 40%);
	background-color: hsl(133, 100%, 40%);
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 35px;
	letter-spacing: 1px;
    margin:25px;
}
.register-page .register-form button:disabled {
    opacity: 40%;
}
.register-page .register-form button:active {
	transform: scale(0.95);
}

.register-page .register-form button:focus {
	outline: none;
}

.register-page .registerformerrormessage{
    color: red;
}

.register-page .register-response{
    text-align: center;
    color: red
}